{% extends "base.html" %}
{% block title %}JSON API{% endblock %}
{% block description %}Creating a JSON API{% endblock %}

{% block content %}
<h1>Cupcakes</h1>
<ul style="list-style:none" id="cupcake-list" class="d-flex flex-wrap">
</ul>

<form id="new-cupcake-form">
    <div class="form-group">
        <label for="flavor">Flavor</label>
        <input type="text" class="form-control" id="flavor">
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <select class="form-control" id="size">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" class="form-control" id="rating">
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image">
    </div>
    <button id="cupcakeFormSubmit" class="btn btn-success">Create Cupcake!</button>
</form>
{% endblock %}